**CTE = Common Table Expression**

مساله:

**فروش به تفکیک سال و فصل**

**به صورت ماترسی**

روش سوم:

CTE + JOIN

In [ ]:
WITH Years
AS
(
	SELECT 
		YEAR(SOH.OrderDate)					AS OrderYear
	FROM
		Sales.SalesOrderHeader AS SOH 
	GROUP BY
		YEAR(SOH.OrderDate)
),

Quarter_Sales
AS
(
	SELECT 
		YEAR(SOH.OrderDate)					AS OrderYear,
		DATEPART(QUARTER, SOH.OrderDate)	AS OrderQuarter,
		SUM(SOD.OrderQty * SOD.UnitPrice)	AS Sales
	FROM
		Sales.SalesOrderHeader AS SOH --31,465
	INNER JOIN
		Sales.SalesOrderDetail AS SOD --121,317
	ON
		SOH.SalesOrderID = SOD.SalesOrderID
	GROUP BY
		YEAR(SOH.OrderDate),
		DATEPART(QUARTER, SOH.OrderDate)
),

Q1_Sales
AS
(
	SELECT 
		*
	FROM
		Quarter_Sales
	WHERE
		OrderQuarter = 1
),
Q2_Sales
AS
(
	SELECT 
		*
	FROM
		Quarter_Sales
	WHERE
		OrderQuarter = 2
)
,
Q3_Sales
AS
(
	SELECT 
		*
	FROM
		Quarter_Sales
	WHERE
		OrderQuarter = 3
),
Q4_Sales
AS
(
	SELECT 
		*
	FROM
		Quarter_Sales
	WHERE
		OrderQuarter = 4
)


SELECT 
	Y.OrderYear,
	Q1.Sales AS Q1_Sales,
	Q2.Sales AS Q2_Sales,
	Q3.Sales AS Q3_Sales,
	Q4.Sales AS Q4_Sales
FROM 
	Years AS Y
LEFT OUTER JOIN
	Q1_Sales AS Q1
ON
	Y.OrderYear = Q1.OrderYear
LEFT OUTER JOIN
	Q2_Sales AS Q2
ON
	Y.OrderYear = Q2.OrderYear
LEFT OUTER JOIN
	Q3_Sales AS Q3
ON
	Y.OrderYear = Q3.OrderYear
LEFT OUTER JOIN
	Q4_Sales AS Q4
ON
	Y.OrderYear = Q4.OrderYear
ORDER BY
	Y.OrderYear